<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
    Copyright (C) 2021 StatiX
    SPDX-License-Identifer: GPL-2.0-only
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.networkstack.tethering.overlay" >
    <overlay android:isStatic="true"
             android:targetName="TetheringConfig"
             android:targetPackage="com.android.networkstack.tethering"/>
    <application android:hasCode="false"
                 android:label="TetheringResOverlay"/>
</manifest>