service vendor.vibrator-cannon /vendor/bin/hw/android.hardware.vibrator-service.cannon
    class hal
    user system
    group system input

on post-fs
    chown system system /sys/devices/platform/haptic_pwm/activate
    chown system system /sys/devices/platform/haptic_pwm/duration
    chown system system /sys/devices/platform/haptic_pwm/index
    chown system system /sys/devices/platform/haptic_pwm/load_wavefile_ctrl
