<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
    Copyright (C) 2021 StatiX
    SPDX-License-Identifer: GPL-2.0-only
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="com.android.wifi.resources.cannon">
    <application android:hasCode="false"/>
    <overlay
        android:isStatic="true"
        android:priority="1024"
        android:targetName="WifiCustomization"
        android:targetPackage="com.android.wifi.resources"/>
</manifest>
